USE [tracnghiem]
GO
/****** Object:  Table [dbo].[BaiThi]    Script Date: 24/09/2024 11:44:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiThi](
	[MaBaiThi] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[ThoiGianBatDau] [datetime] NOT NULL,
	[ThoiGianKetThuc] [datetime] NULL,
	[Diem] [decimal](5, 2) NULL,
	[DaXoa] [bit] NULL,
	[MaCaThi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaiThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaThi]    Script Date: 24/09/2024 11:44:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaThi](
	[MaCaThi] [int] IDENTITY(1,1) NOT NULL,
	[TenCaThi] [nvarchar](255) NOT NULL,
	[ThoiGianBatDau] [datetime] NOT NULL,
	[ThoiGianKetThuc] [datetime] NOT NULL,
	[TrangThai] [bit] NULL,
	[DaXoa] [bit] NULL,
	[MaNguoiDung] [int] NULL,
	[SoLuongCauHoi] [int] NULL,
	[ThoiGianLamBai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCaThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHoi]    Script Date: 24/09/2024 11:44:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHoi](
	[MaCauHoi] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[LuaChonA] [nvarchar](255) NOT NULL,
	[LuaChonB] [nvarchar](255) NOT NULL,
	[LuaChonC] [nvarchar](255) NOT NULL,
	[LuaChonD] [nvarchar](255) NOT NULL,
	[DapAnDung] [char](1) NOT NULL,
	[DaXoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHoiTrongBaiThi]    Script Date: 24/09/2024 11:44:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHoiTrongBaiThi](
	[MaCauHoiTrongBaiThi] [int] IDENTITY(1,1) NOT NULL,
	[MaBaiThi] [int] NOT NULL,
	[MaCauHoi] [int] NOT NULL,
	[CauTraLoiNguoiDung] [char](1) NULL,
	[DapAnDung] [bit] NULL,
	[DaXoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCauHoiTrongBaiThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KetQua]    Script Date: 24/09/2024 11:44:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KetQua](
	[MaKetQua] [int] IDENTITY(1,1) NOT NULL,
	[MaBaiThi] [int] NOT NULL,
	[SoCauDung] [int] NOT NULL,
	[SoCauSai] [int] NOT NULL,
	[Diem] [decimal](5, 2) NOT NULL,
	[DaXoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKetQua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 24/09/2024 11:44:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[DaXoa] [bit] NULL,
	[VaiTro] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BaiThi] ON 

INSERT [dbo].[BaiThi] ([MaBaiThi], [MaNguoiDung], [ThoiGianBatDau], [ThoiGianKetThuc], [Diem], [DaXoa], [MaCaThi]) VALUES (2, 2, CAST(N'2024-09-04T23:58:46.257' AS DateTime), CAST(N'2024-09-04T23:58:54.930' AS DateTime), CAST(0.43 AS Decimal(5, 2)), 0, NULL)
INSERT [dbo].[BaiThi] ([MaBaiThi], [MaNguoiDung], [ThoiGianBatDau], [ThoiGianKetThuc], [Diem], [DaXoa], [MaCaThi]) VALUES (3, 2, CAST(N'2024-09-05T00:06:34.960' AS DateTime), CAST(N'2024-09-05T00:06:41.703' AS DateTime), CAST(0.43 AS Decimal(5, 2)), 0, NULL)
INSERT [dbo].[BaiThi] ([MaBaiThi], [MaNguoiDung], [ThoiGianBatDau], [ThoiGianKetThuc], [Diem], [DaXoa], [MaCaThi]) VALUES (4, 2, CAST(N'2024-09-05T20:42:37.310' AS DateTime), CAST(N'2024-09-05T20:43:12.463' AS DateTime), CAST(0.21 AS Decimal(5, 2)), 0, NULL)
SET IDENTITY_INSERT [dbo].[BaiThi] OFF
GO
SET IDENTITY_INSERT [dbo].[CaThi] ON 

INSERT [dbo].[CaThi] ([MaCaThi], [TenCaThi], [ThoiGianBatDau], [ThoiGianKetThuc], [TrangThai], [DaXoa], [MaNguoiDung], [SoLuongCauHoi], [ThoiGianLamBai]) VALUES (1, N'Ca thi tháng 9 - Lần 1', CAST(N'2024-09-15T08:00:00.000' AS DateTime), CAST(N'2024-09-15T10:00:00.000' AS DateTime), 1, 0, 1, 1, 1)
INSERT [dbo].[CaThi] ([MaCaThi], [TenCaThi], [ThoiGianBatDau], [ThoiGianKetThuc], [TrangThai], [DaXoa], [MaNguoiDung], [SoLuongCauHoi], [ThoiGianLamBai]) VALUES (2, N'Ca thi tháng 9 - Lần 2', CAST(N'2024-09-20T14:00:00.000' AS DateTime), CAST(N'2024-09-20T16:00:00.000' AS DateTime), 1, 0, 1, 1, 1)
INSERT [dbo].[CaThi] ([MaCaThi], [TenCaThi], [ThoiGianBatDau], [ThoiGianKetThuc], [TrangThai], [DaXoa], [MaNguoiDung], [SoLuongCauHoi], [ThoiGianLamBai]) VALUES (3, N'Ca thi test', CAST(N'2024-09-05T20:20:24.000' AS DateTime), CAST(N'2024-09-06T20:20:24.000' AS DateTime), 1, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[CaThi] OFF
GO
SET IDENTITY_INSERT [dbo].[CauHoi] ON 

INSERT [dbo].[CauHoi] ([MaCauHoi], [NoiDung], [LuaChonA], [LuaChonB], [LuaChonC], [LuaChonD], [DapAnDung], [DaXoa]) VALUES (1, N'Mục đích của công tác bảo hộ lao động là?', N'Đảm bảo an toàn thân thể người lao động, không bị mắc bệnh nghề nghiệp do điều kiện lao động không tốt gây r ', N'Bồi dưỡng phục hồi kịp thời và duy trì sức khỏe cho người lao động.', N'Bảo đảm người lao động mạnh khỏe, không bị mắc bệnh nghề nghiệp do điều kiện lao động không tốt gây r ', N'Đảm bảo an toàn thân thể người, bồi dưỡng phục hồi cơ thể người, không mắc bệnh nghề nghiệp.', N'D', 0)
INSERT [dbo].[CauHoi] ([MaCauHoi], [NoiDung], [LuaChonA], [LuaChonB], [LuaChonC], [LuaChonD], [DapAnDung], [DaXoa]) VALUES (2, N'Ý nghĩa của công tác bảo hộ lao động bao gồm các ý nghĩa nào sau đây?', N'Ý nghĩa chính trị, xã hội, ý nghĩa kinh tế.', N'Ý nghĩa về khoa học công nghệ.', N'Ý nghĩa chính trị, pháp luật, ý nghĩa kinh tế', N'Ý nghĩa văn hoá, xã hội, ý nghĩa kinh tế', N'A', 0)
INSERT [dbo].[CauHoi] ([MaCauHoi], [NoiDung], [LuaChonA], [LuaChonB], [LuaChonC], [LuaChonD], [DapAnDung], [DaXoa]) VALUES (3, N'Tính chất của công tác bảo hộ lao động là?', N'Tính pháp luật, tính khoa học, công nghệ.', N'Tính khoa học, công nghệ.', N'Tính quần chúng, pháp luật, tính khoa học, công nghệ.', N'Tính pháp luật, khoa học, công nghệ, quần chúng.', N'D', 0)
GO
SET IDENTITY_INSERT [dbo].[CauHoi] OFF
GO
SET IDENTITY_INSERT [dbo].[CauHoiTrongBaiThi] ON 

INSERT [dbo].[CauHoiTrongBaiThi] ([MaCauHoiTrongBaiThi], [MaBaiThi], [MaCauHoi], [CauTraLoiNguoiDung], [DapAnDung], [DaXoa]) VALUES (1, 3, 80, N'B', 1, 0)
INSERT [dbo].[CauHoiTrongBaiThi] ([MaCauHoiTrongBaiThi], [MaBaiThi], [MaCauHoi], [CauTraLoiNguoiDung], [DapAnDung], [DaXoa]) VALUES (2, 3, 44, N'A', 1, 0)
INSERT [dbo].[CauHoiTrongBaiThi] ([MaCauHoiTrongBaiThi], [MaBaiThi], [MaCauHoi], [CauTraLoiNguoiDung], [DapAnDung], [DaXoa]) VALUES (3, 3, 72, NULL, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[CauHoiTrongBaiThi] OFF
GO
SET IDENTITY_INSERT [dbo].[KetQua] ON 

INSERT [dbo].[KetQua] ([MaKetQua], [MaBaiThi], [SoCauDung], [SoCauSai], [Diem], [DaXoa]) VALUES (1, 2, 2, 45, CAST(10.00 AS Decimal(5, 2)), 0)
INSERT [dbo].[KetQua] ([MaKetQua], [MaBaiThi], [SoCauDung], [SoCauSai], [Diem], [DaXoa]) VALUES (2, 3, 2, 45, CAST(9.00 AS Decimal(5, 2)), 0)
INSERT [dbo].[KetQua] ([MaKetQua], [MaBaiThi], [SoCauDung], [SoCauSai], [Diem], [DaXoa]) VALUES (3, 4, 1, 46, CAST(8.00 AS Decimal(5, 2)), 0)
SET IDENTITY_INSERT [dbo].[KetQua] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([MaNguoiDung], [HoTen], [Email], [MatKhau], [DaXoa], [VaiTro]) VALUES (1, N'Nguyen Van A', N'gv', N'1', 0, N'giaovien')
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [HoTen], [Email], [MatKhau], [DaXoa], [VaiTro]) VALUES (2, N'Le Thi B', N'hs', N'1', 0, N'hocsinh')
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [HoTen], [Email], [MatKhau], [DaXoa], [VaiTro]) VALUES (3, N'nguyễn minh hòa', N'hoa', N'1', 0, N'hocsinh')
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__A9D10534277A724C]    Script Date: 24/09/2024 11:44:22 CH ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaiThi] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[CaThi] ADD  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[CaThi] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[CauHoi] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[CauHoiTrongBaiThi] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[KetQua] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ('hocsinh') FOR [VaiTro]
GO
ALTER TABLE [dbo].[BaiThi]  WITH CHECK ADD  CONSTRAINT [FK_BaiThi_CaThi] FOREIGN KEY([MaCaThi])
REFERENCES [dbo].[CaThi] ([MaCaThi])
GO
ALTER TABLE [dbo].[BaiThi] CHECK CONSTRAINT [FK_BaiThi_CaThi]
GO
ALTER TABLE [dbo].[BaiThi]  WITH CHECK ADD  CONSTRAINT [FK_BaiThi_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[BaiThi] CHECK CONSTRAINT [FK_BaiThi_NguoiDung]
GO
ALTER TABLE [dbo].[CaThi]  WITH CHECK ADD  CONSTRAINT [FK_CaThi_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[CaThi] CHECK CONSTRAINT [FK_CaThi_NguoiDung]
GO
ALTER TABLE [dbo].[CauHoiTrongBaiThi]  WITH CHECK ADD  CONSTRAINT [FK_CauHoiTrongBaiThi_BaiThi] FOREIGN KEY([MaBaiThi])
REFERENCES [dbo].[BaiThi] ([MaBaiThi])
GO
ALTER TABLE [dbo].[CauHoiTrongBaiThi] CHECK CONSTRAINT [FK_CauHoiTrongBaiThi_BaiThi]
GO
ALTER TABLE [dbo].[CauHoiTrongBaiThi]  WITH CHECK ADD  CONSTRAINT [FK_CauHoiTrongBaiThi_CauHoi] FOREIGN KEY([MaCauHoi])
REFERENCES [dbo].[CauHoi] ([MaCauHoi])
GO
ALTER TABLE [dbo].[CauHoiTrongBaiThi] CHECK CONSTRAINT [FK_CauHoiTrongBaiThi_CauHoi]
GO
ALTER TABLE [dbo].[KetQua]  WITH CHECK ADD  CONSTRAINT [FK_KetQua_BaiThi] FOREIGN KEY([MaBaiThi])
REFERENCES [dbo].[BaiThi] ([MaBaiThi])
GO
ALTER TABLE [dbo].[KetQua] CHECK CONSTRAINT [FK_KetQua_BaiThi]
GO
